{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Daan Srot - Donor Home</title>
<link rel="stylesheet" href="{% static 'donorhome.css' %}">
</head>
<body>

<header>
  <nav>
    <div class="container">
      <h1 class="logo">Daan Srot</h1>
      <ul class="nav-links">
        <li><a href="{% url 'home-view' %}">Home</a></li>
        <li><a href="{% url 'donor-profile' %}">Profile</a></li>
        <li class="align-right"><a href="{% url 'logout-view' %}">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>

<section class="donor-home-section">
  <div class="container">
    <h2>Hi {{ donorname }}</h2>
    <form action="" method="get">
    <div class="filter-options">
      <label for="filter-type">Filter by:</label>
      <select id="filter-type">
        <option value="None">None</option>
        <option value="Place">Place</option>
        <option value="Need">Need</option>
      </select>
      <select id="filter-value">
        <option value="">Select</option>
      </select>
      {% if filter_option == 'Place' %}
        <label for="place_option">Select Place:</label>
        <select name="place_option" id="place_option">
            {% for place in places %}
            <option value="{{ place }}">{{ place }}</option>
            {% endfor %}
        </select><br><br>
        {% elif filter_option == 'Need' %}
        <label for="need_option">Select Need:</label>
        <select name="need_option" id="need_option">
            {% for need in needs %}
            <option value="{{ need }}">{{ need }}</option>
            {% endfor %}
        </select><br><br>
        {% endif %}
      <button id="apply-filter" type="submit">Apply Filter</button>
    </div>
    </form>
    <table class="organization-table">
      <thead>
        <tr>
          <th>Sl no.</th>
          <th>Name</th>
          <th>Place</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'donor-org' pk=organization.pk %}">{{ organization.org_name }}</a></td>
                <td>{{ organization.city }}</td>
                <td>{{ organization.org_type }}</td>
            </tr>
            {% endfor %}
        <!-- Add more rows for other organizations -->
      </tbody>
    </table>
  </div>
</section>

<footer>
  <div class="container">
    <p>&copy; 2024 Daan Srot. All rights reserved.</p>
  </div>
</footer>

</body>
</html>
