{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization Details</title>
    <link rel="stylesheet" href="{% static 'orgprofile.css' %}">
</head>
<header>
    <nav>
      <div class="container">
        <h1 class="logo">Daan Srot</h1>
        <ul class="nav-links">
          <li class="align-right"><a href="{% url 'logout-view' %}">Logout</a></li>
          <li class="align-right"><a href="{% url 'home-view' %}">Home</a></li>
        </ul>
      </div>
    </nav>
  </header>
<body>
    <div class="organization-details">
        <h2>Organization Details</h2>
        <div class="detail">
            <strong>Name:</strong> {{ organization.org_name }}
        </div>
        <div class="detail">
            <strong>Registration No.:</strong> {{ organization.registration_no }}
        </div>
        <div class="detail">
            <strong>City:</strong> {{ organization.city }}
        </div>
        <div class="detail">
            <strong>State:</strong> {{ organization.state }}
        </div>
        <div class="detail">
            <strong>Phone:</strong> {{ organization.phone }}
        </div>
        <div class="detail">
            <strong>Organization Address:</strong> {{ organization.org_address }}
        </div>
        <div class="detail">
            <strong>Unique ID:</strong> {{ organization.unique_id }}
        </div>
        <div class="detail">
            <strong>Organization Type:</strong> {{ organization.org_type }}
        </div>
        <div class="detail">
            <strong>Name of Treasurer:</strong> {{ organization.name_treasurer }}
        </div>
        <div class="detail">
            <strong>Name of Secretary:</strong> {{ organization.name_secretary }}
        </div>
        <div class="detail">
            <strong>Name of Chairman:</strong> {{ organization.name_chairman }}
        </div>
        <div class="detail">
            <strong>Account Holder Name:</strong> {{ organization.acc_holder_name }}
        </div>
        <div class="detail">
            <strong>Account Number:</strong> {{ organization.acc_number }}
        </div>
        <div class="detail">
            <strong>IFSC:</strong> {{ organization.ifsc }}
        </div>
        <div class="detail">
            <strong>UPI ID:</strong> {{ organization.upi_id }}
        </div>
        <div class="detail">
            <strong>Verifier Name:</strong> {{ organization.verifiername }}
        </div>
    </div>
</body>
</html>
