<!-- donor_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Details</title>
</head>
<body>
    <h2>Donor Details {{ donor }}</h2>
    <p><strong>Type:</strong>{{ donor.donortype }}</p>
    <p><strong>Name:</strong> {{ donor.name }}</p>
    <p><strong>Phone Number:</strong> {{ donor.phone }}</p>
    <p><strong>Email:</strong> {{ donor.username }}</p>
    <p><strong>Address:</strong> {{ donor.address }}</p>
</body>
</html>
